node_modules
bin/
.idea
.DS_Store
vendor
test.go
.vscode/
.history/
.eslintcache
*-packr.go

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

yatai-config.dev.yaml
yatai-config.test.yaml
yatai-config.production.yaml
.yatai_*
*.lock
